<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="alert alert-danger" *ngIf="message">
    {{message}}
  </div>

  <div class="alert alert-success" *ngIf="wasSave">
    Paciente cadastrado com sucesso!
  </div>
  <form>
    <h1 class="h4">Editar Paciente</h1>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input type="text"
               class="form-control"
               [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched),
               'is-valid':name.valid && (name.dirty || name.touched)
               }"
               [(ngModel)]="patient.name"
               #name="ngModel"
               name="name"
              
               placeholder="Nome"
               required />
      </div>

      <div class="invalid-feedback mb-2" *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">
          O nome é de preenchimento obrigatório
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cpf">Cpf</label>
        <input type="text"
               class="form-control"
               [ngClass]="{'is-invalid': cpf.invalid && (cpf.dirty || cpf.touched),
               'is-valid':cpf.valid && (cpf.dirty || cpf.touched)
               }"
               [(ngModel)]="patient.cpf"
               #cpf="ngModel"
               name="cpf"
               placeholder="Cpf"
               required />
      </div>

      <div class="invalid-feedback mb-2" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
        <div *ngIf="cpf.errors.required">
          O CPF é de preenchimento obrigatório
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="birthDate">Data de nascimento</label>
        <input type="date"
               class="form-control"
               [ngClass]="{'is-invalid': birthDate.invalid && (birthDate.dirty || birthDate.touched),
               'is-valid':birthDate.valid && (birthDate.dirty || birthDate.touched)
               }"
             
               [ngModel]="patient.birthDate | date: 'yyyy-MM-dd'" (ngModelChange)="patient.birthDate = $event"
               #birthDate="ngModel"
                value=""
               name="birthDate"
               placeholder="Birth Date"
               required />
      </div>
      <div class="invalid-feedback mb-2" *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)">
        <div *ngIf="birthDate.errors.required">
          O birth date é de preenchimento obrigatório
        </div>
      </div>
    </div>


    <button class="btn btn-primary" type="submit" (click)="save()" [disabled]="enable_spinner">Salvar</button>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="enable_spinner"></span>
    <div><a [routerLink]='["/patient"]'>Voltar</a></div>


  </form>




</body>
</html>
