<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1>Pacientes</h1>

  <button class="btn btn-primary mb-2" (click)="createPatient()">Adicionar Paciente</button>

  <table class="table table-striped" *ngIf="patients">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of patients; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{p.name}}</td>
        <td>{{p.birthDate | date: 'dd-MM-yyyy' }}</td>
        <td>{{p.cpf}}</td>
        <td><button class="btn btn-success btn-sn" (click)="edit(p)">Editar</button></td>
        <td><button class="btn btn-danger btn-sn" (click)="delete(p)">Deletar</button></td>
      </tr>     
    </tbody>
  </table>
 
</body>
</html>
